@model IEnumerable<ToDoList.Models.Task>

<br></br>
<a href="Task/Create" class="btn btn-primary"> New Task </a>
<a href="Task/ViewCompletedTasks" class="btn btn-primary"> View Completed Tasks </a>
<br></br>

<div class="container">
    <fieldset>
        <legend>
            <label>List of Tasks</label>
        </legend>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Percentage Completed</th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.priority</td>
                    <td>@item.deadline</td>
                    <td>@item.percentageCompleted</td>
                    <td><a class="btn btn-primary" href="Task/Edit/@item.id">Update</td>
                </tr>
            }
        </table>
    </fieldset>  
</div>